################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StateHolidayIcsCreator/StateHolidayIcsCreator/obj
/StateHolidayIcsCreator/StateHolidayIcsCreator/bin
/StateHolidayIcsCreator/.vs/StateHolidayIcsCreator/v14
/StateHolidayIcsCreator/StateHolidayIcsCreator/StateHolidayIcsCreator.csproj.user
